<!DOCTYPE html>
<html lang="pl"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Kontakt</title>
    <div th:replace="shared/header :: header-css"/>
</head>
<body>
<div th:replace="shared/header :: header('home')"/>
<h3>Kino Siedlce</h3><br>
tel. 123 456 789<br>
tel. 987 654 321<br>

E-mail: <a href="mailto:kino.siedlce@gmail.com">kino.siedlce@gmail.com</a>

<p th:name="contact"></p>

<div th:replace="shared/footer :: footer"></div>
</body>
</html>