<!DOCTYPE html>
<html lang="pl"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Kontakt</title>
    <div th:replace="shared/header :: header-css"/>
</head>
<body>
<div th:replace="shared/header :: header('home')"/>
<h2>Kino Siedlce</h2>


<div th:if="${reservations.hasContent() eq false}">
    <span>Brak filmów!</span>
</div>


<div th:if="${reservations.hasContent() eq true}">



    <table class="table table-striped">
        <thead>

        </thead>
        <tbody>


        <tr th:each="reservation : ${reservations.content}">




            <td><span><b><h2>[[${reservation.id}]]</h2></b></span><br/>
                <span></span></td>

        </tr>

        </tbody>
    </table>

<div th:replace="shared/footer :: footer"></div>
</body>
</html>